
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;   
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product{
    transition: all 0.6s;
}
.products .col-md-2{
    transition: all 0.6s;
    border-radius: 10px;
overflow: hidden;
   
}
.products .col-md-2:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
    box-shadow: 1px 3px 3px 3px rgba(0.2,0.2,0.2,0.2);

}
.product.btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.myContainer{
    width: 90%;
    margin: 0 auto;
}
.products .addBtn{
    transform: translateY(100%);
    transition: 0.6s all;
    opacity: 0;
}
 .products .col-md-2:hover  .addBtn{
  transform: translateY(0);
  opacity: 1;
}
.bg-cart{
   background-color: hsl(0, 0%, 97%)
}
 .blackColor{
    opacity: 0;
    top: 7px;
    left: 7px;
    font-size: 27px;
    transform: translateY(-150%);
    transition:  0.6s  all;
    cursor: pointer;
}
.products .col-md-2:hover .blackColor{
opacity: 1;
transform: translateY(0%);
} 
.forget-password{    
    text-decoration: underline;
}
.heartColor{
    color: rgba(237, 12, 12, 0.853);
    font-size: 27px;
    top: 7px;
    left: 7px;
    cursor: pointer;
}
/* ------------Navbar---------- */
  .nav-item{
    position: relative;
    margin: 0px 5px;

}  
 .nav-link::after{
    background-color: #0aad0a;
    color: #f0f3f2 !important;
   position: absolute;
   content: "";
   bottom: 0;
   left: 50%;
   background-color: #0aad0a;
   width: 0;
   height: 3px;
   opacity: 0;
   transition: 0.6s all;
} 
 .nav-link:hover::after{
left: 0;
opacity: 1;
width: 100%;
}  
.active{
border-bottom: 3px solid #0aad0a; 
color:#000 !important
}
nav{
    animation: down 1s 1;
}
.navbar-brand{
    animation: ltr 2s 1;
    
}
/* --------- My Class Container----------- */
.mycontainer{
    margin: 0 auto;
    width: 90%;
}

.heartDetails{
    color: rgba(237, 12, 12, 0.853);
}
.img{
    width: 100%;
}
.divImgFooter{
    width: 15%;
}
.register{
    width: 80% ;
    margin: 0 auto;
}
/* -----Scroll-track---------- */
::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-track{
    background: #DEDEDE;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 10px;
}
.imgDetails{
    width: 20%;
}
.linkDetailsFilterBrand{
 transition: all 0.5s;
 font-weight: 600;
}
.linkDetailsFilterBrand:hover{
    color:#60f060;
   
}
@media (max-width:993px){
    .navbar-nav{
        align-items: center;
    }
    .inputFooter{
        width: 50% !important;
    }
    .buttonFooter{
        padding: 8px 10px !important;
    }
    .PaymentFooter,.appFooter{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
      }
      .divImgFooter{
        justify-content: center;
      }
}
@keyframes down{
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(0);
    }
}
@keyframes ltr{
   0%{
       transform: translateX(-100px);
       color: cyan;
   }
50%{
   transform: translateX(-150px);
}
65%{
   transform: translateX(30px);
}
75%{
        transform: translateX(-100px);
}

   100%{
       transform: translateX(0);
   }
}

@media (max-width:767px){
 .homeSliderImg{
    margin-top: 30px;
 }
    
}
@media (max-width:500px){
   
       .divImgFooter{
        width: 30%;
      
    }
    .register{
        width: 90% ;
        margin: 0 auto;
    }
    .form-check{
        font-size: 16px !important;
    }
}